// @describe Typography basis

// @it Scale function

for $i in (1 2 3 4 5 10px 20px 30px 40px)
    .block
        font-size typo_scaled($i)

// @expects
.block{font-size:1rem}
.block{font-size:1.25rem}
.block{font-size:1.5rem}
.block{font-size:1.75rem}
.block{font-size:2rem}

.block{font-size:.75rem}
.block{font-size:1.25rem}
.block{font-size:2rem}
.block{font-size:2.5rem}


// @it Line

for $i in (1 2 3 4 5 10px 20px 30px 40px)
    .block
        typo-line($i)

// @expects

.block{font-size:1rem;     line-height:1.25}
.block{font-size:1.25rem;  line-height:1.25}
.block{font-size:1.5rem;   line-height:1.25}
.block{font-size:1.75rem;  line-height:1.25}
.block{font-size:2rem;     line-height:1.25}
.block{font-size:.75rem;   line-height:1.25}
.block{font-size:1.25rem;  line-height:1.25}
.block{font-size:2rem;     line-height:1.25}
.block{font-size:2.5rem;   line-height:1.25}


// @it Paragraph

$list = (1 2 3 4 5 10px 20px 30px 40px)

for $i in 0...(length($list) - 1)
    .block
        typo-paragraph($list[$i])

// @expects


.block{font-size:1rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:1.25rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:1.5rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:1.75rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:2rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:.75rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:1.25rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}
.block{font-size:2rem;line-height:1.25;margin-top:1rem;margin-bottom:1rem}