// @describe Typography basis

// @it Scale function

for $i in (1 2 3 4 5 10px 20px 30px 40px)
    .block
        font-size typo_scaled($i)

// @expects
.block{font-size:21px}
.block{font-size:28px}
.block{font-size:38px}
.block{font-size:51px}
.block{font-size:67px}

.block{font-size:12px}
.block{font-size:21px}
.block{font-size:38px}
.block{font-size:51px}


// @it Line

for $i in (1 2 3 4 5 10px 20px 30px 40px)
    .block
        typo-line($i)

// @expects
.block{font-size:21px;line-height:30px}
.block{font-size:28px;line-height:36px}
.block{font-size:38px;line-height:48px}
.block{font-size:51px;line-height:66px}
.block{font-size:67px;line-height:84px}
.block{font-size:10px;line-height:12px}
.block{font-size:20px;line-height:24px}
.block{font-size:30px;line-height:36px}
.block{font-size:40px;line-height:48px}


// @it Inline

$list = (1 2 3 4 5 10px 20px 30px 40px)

for $i in 0...(length($list) - 1)
    .block
        typo-inline($list[$i], $list[$i+1])

// @expects
.block{padding-top:7px;padding-bottom:1px}
.block{padding-top:11px;padding-bottom:1px}
.block{padding-top:15px;padding-bottom:3px}
.block{padding-top:17px;padding-bottom:1px}
.block{padding-top:64px;padding-bottom:8px}
.block{padding-top:11px;padding-bottom:1px}
.block{padding-top:11px;padding-bottom:1px}
.block{padding-top:11px;padding-bottom:1px}


// @it Paragraph

$list = (1 2 3 4 5 10px 20px 30px 40px)

for $i in 0...(length($list) - 1)
    .block
        typo-paragraph($list[$i])

// @expects
.block{margin-top:24px;margin-bottom:24px;font-size:21px;line-height:30px}
.block{margin-top:24px;margin-bottom:24px;font-size:28px;line-height:36px}
.block{margin-top:24px;margin-bottom:24px;font-size:38px;line-height:48px}
.block{margin-top:24px;margin-bottom:24px;font-size:51px;line-height:66px}
.block{margin-top:24px;margin-bottom:24px;font-size:67px;line-height:84px}
.block{margin-top:24px;margin-bottom:24px;font-size:10px;line-height:12px}
.block{margin-top:24px;margin-bottom:24px;font-size:20px;line-height:24px}
.block{margin-top:24px;margin-bottom:24px;font-size:30px;line-height:36px}