/**
 * Variables
 * ======================================================================== */

_TypoBaseFontFamily = {
    sans:   unquote("'Helvetica Neue', 'Helvetica', 'Arial', sans-serif")
    serif:  unquote("'Georgia', 'Times New Roman', 'Times', serif")
    mono:   unquote("'Consolas', 'Courier New', monospace")
}

TypoConfig = {}

typo-config({
        base:    Base.font-size,
        unit:    'rem'

        line:    {
            base:    1.6
            body:    1.6
            heading: 1.25
        }

        scale: {
            rate: 1.19
            start: 1rem
            offset: 0
            add: 0
        }

        indent: 1em
        line-length: 65ch               // 45-90 characters wide

        letter-spacing: {
            wide: .125em,
            tight: -.035em
        }

        figcaption: {
            prefix: 'Рисунок'
        }

        size: {
            'none':        0px
            'big':         6
            'giant':       8
            'mega':        10

            'tiny':        -1
            'xsmall':      -1
            'small':       0
            'body':        1
            'medium':      1
            'regular':     1
            'caption':     0
            'subhead':     2
            'lead':        2
            'title':       3
            'headline':    5

            'n':           0px
            'xs':          -1
            's':           0
            'm':           1
            'l':           2
            'xl':          3
            'xxl':         5
        }

        weight: {
            'thin':        100
            'xlight':      200
            'extra_light': 200
            'light':       300
            'book':        400
            'normal':      400
            'medium':      500
            'demi_bold':   600
            'semi_bold':   600
            'semibold':    600
            'bold':        700
            'heavy':       800
            'black':       900

            'bolder':      bolder
            'lighter':     lighter

            'body':        400
            'heading':     400
        }

        family: {
            'body':        _TypoBaseFontFamily.sans
            'primary':     _TypoBaseFontFamily.sans
            'secondary':   _TypoBaseFontFamily.sans
            'heading':     _TypoBaseFontFamily.sans
            'mono':        _TypoBaseFontFamily.mono
        }

        quotes: {
            '_':  ('\AB'   '\BB'   '\201E' '\201C'), // « » „ “ - Default
            // 'en': ('\201C' '\201D' '\2018' '\2019'), // “ ” ‘ ’ - English
            // 'ru': ('\AB'   '\BB'   '\201E' '\201C'), // « » „ “ - Russian
            // '':  ('\2018' '\2019' '\201C' '\201D'), // ‘ ’ “ ”
            // '':  ('\201C' '\201D' '\2018' '\2019'), // “ ” ‘ ’
            // '':  ('\22'   '\22'   '\27'   '\27'  ), // " " ' '
            // '':  ('\301D' '\301E' '\27'   '\27'  ), // 〝 〞 ' '
            // '':  ('\AB'   '\BB'   '\2039' '\203A'), // « » ‹ ›
            // '':  ('\AB'   '\BB'   '\201C' '\201D'), // « » “ ”
            // '':  ('\300A' '\300B' '\3008' '\3009'), // 《 》 〈 〉
            // '':  ('\300C' '\300D' '\300E' '\300F'), // 「 」 『 』
            // '':  ('\201E' '\201C' '\201A' '\2018'), // „ “ ‚ ‘
            // '':  ('\201E' '\201D' '\2018' '\2019'), // „ ” ‘ ’
            // '':  ('\201E' '\201D' '\2019' '\2019'), // „ ” ’ ’
            // '':  ('\201E' '\201D' '\AB'   '\BB'  ), // „ ” « »
            // '':  ('\201E' '\201D' '\2019' '\2018'), // „ ” ’ ‘
            // '':  ('\201E' '\201D' '\BB'   '\AB'  ), // „ ” » «
            // '':  ('\BB'   '\AB'   '\203A' '\2039'), // » « › ‹
            // '':  ('\201D' '\201D' '\2019' '\2019'), // ” ” ’ ’
            // '':  ('\3010' '\3011' '\3016' '\3017'), // 【 】 〖 〗
        }

        responsive:  true
    })
