/**
 * Variables
 * ======================================================================== */

// Serif: Garamond, Georgia, Crimson Text, Palatino Linotype, Book Antiqua,
//        Palatino, Merriweather,
// Sans: Geneva
//
// Typography articles:
// http://practicaltypography.com/ - article, lots of custom font-families
// http://practicaltypography.com/system-fonts.html - font family usage article
// http://practicaltypography.com/mb-lectures-and-articles.html - list of the typo articles


/**
 * Mixins
 * ======================================================================== */

typo-text()
    slctr = selector('&')

    rt = @block {
        f-size: TypoConfig.base
        f-family: TypoConfig.family.body
        line-height typo-line('body')
    }

    if !!slctr
        {rt}
    else
        body
            {rt}

    // Paragraph
    h1, h2, h3, h4, h5, h6
    blockquote
    hr
    ol, ul
    dl, dt, dd
    address
    figure
    figcaption
    table
    p
        typo-paragraph(1, null, 1)
        fs inherit
        t-indent 0

        widows 4
        orphans 4

        &:first-child
            mt 0

        &:last-child
            mb 0


    // Headings
    h1, h2, h3, h4, h5, h6
        page-break-before always
        page-break-inside avoid

        f-weight: TypoConfig.weight.heading
        f-family: TypoConfig.family.heading
        letter-spacing: TypoConfig.letter-spacing.tight

    for i in (6 5 4 3 2 1)
        h{i}
            typo-paragraph(6 - i, line:TypoConfig.line.heading)

    h6
        letter-spacing: TypoConfig.letter-spacing.wide
        t-transform uppercase

    // Quotation
    blockquote
        margin-h 3ch

    cite
        font-style normal

    q
        display inline

        font-style italic

        for lang, qts in TypoConfig.quotes
            if lang == '_'
                quotes qts
            else
                html[lang={lang}] &
                    quotes qts

        &:before
            content open-quote

        &:after
            content close-quote


    // Line
    hr
        //

    // Lists
    // Ordered/Unordered lists
    list-styles = ( \
            (''   armenian) \
            ('1'  decimal) \
            ('01' decimal-leading-zero) \
            (''   georgian) \
            (''   lower-greek) \
            ('a'  lower-latin) \
            ('i'  lower-roman) \
            ('A'  upper-latin) \
            ('I'  upper-roman) \
        )

    ol, ul
        padding-left 3ch

    li
        margin 0

    ul
        list-style disc

    ol
        list-style decimal
        counter-reset list__item

        & > li
            counter-increment list__item

    ol-class = bem-compose('ol', null, null, BEM.p.tag)
    .{ol-class}
        @m
            &unstyled
                list-style none

            &nested
                list-style none !important

                & li
                & li ol li
                    position relative

                    &:before
                        display block
                        position absolute
                        right 100%
                        padding-right 1ch

                        t-align right
                        word-break normal

                        content counters(list__item, ".") "."

                & > li
                    & > ul,
                    & > ol
                        margin-top 0
                        margin-bottom 0

                & li ol
                    list-style none !important

                & li ol li
                    &:before
                        content counters(list__item, ".") ""

            for i in list-styles
                &type_{i[1]}
                    list-style-type i[1]


    // Small text
    small
        font-size typo-scaled('small')
        line-height 1


    // Definition lists
    dl, dt, dd
        //

    dt
        margin-bottom 0

        font-weight bold

    dd
        margin-top 0
        margin-h 0


    // Subscript and superscript
    sub, sup
        margin -1em 0
        line-height 1px
        font-size typo-scaled('tiny')


    // Text decoration
    b,
    strong
        font-weight bold

    i,
    em,
    var,
    dfn // Definition is usually marking with italic font style
        font-style italic

    s,
    strike,
    del
        t-decoration line-through

    tt,
    code,
    output,
    pre,
    samp,
    kbd
        font-family: TypoConfig.family.mono
        font-size inherit

    u,
    ins
        t-decoration underline


    // Abbreviation
    abbr
        border-bottom 1px dashed #0006

        cursor help


    // Address
    address
        font-style normal


    // links
    a
        font-family inherit
        t-decoration underline
        color inherit

        cursor pointer

        &:hover
            t-decoration none


    // Graphics
    counter-reset figure__item

    figure
        @extends $clearfix

        margin-h 0
        padding 0

        counter-increment figure__item

        & > img
            max-width 100%

            vertical-align middle

    figcaption
        margin-bottom 0

        if !!TypoConfig.figcaption.prefix
            &:before
                opacity .75

                // content: TypoConfig.figcaption.prefix " " counters(figure__item, ".") ". "


    // Tables
    table
        width 100%

        border 0 solid transparent
        border-collapse collapse

        font-size inherit
        t-align left
        vertical-align middle

        caption,
        td,
        th,
        tr
            border 0 solid transparent

            font-size inherit
            vertical-align middle

            &:not([align])
                t-align left

        th
            font-weight bold



typo-text-spacing()
    h1, h2, h3, h4, h5, h6
    blockquote
    hr
    ol, ul
    address
    figure
    figcaption
    table
    p
        mv: 1rem

    h1, h2, h3, h4, h5, h6
        mt: 2rem



typo-init()
    $typo-container
        margin-h auto
        width: TypoConfig.line-length


    $typo-text
        typo-text()


    $typo-text-spacing
        typo-text-spacing()
