/**
 * Variables
 * ======================================================================== */

$typography_prefix          ?= ''

$typography_quotes          ?= {
    '_':  ('\AB'   '\BB'   '\201E' '\201C'), // « » „ “ - Default
    'en': ('\201C' '\201D' '\2018' '\2019'), // “ ” ‘ ’ - English
    'ru': ('\AB'   '\BB'   '\201E' '\201C'), // « » „ “ - Russian
    // '':  ('\2018' '\2019' '\201C' '\201D'), // ‘ ’ “ ”
    // '':  ('\201C' '\201D' '\2018' '\2019'), // “ ” ‘ ’
    // '':  ('\22'   '\22'   '\27'   '\27'  ), // " " ' '
    // '':  ('\301D' '\301E' '\27'   '\27'  ), // 〝 〞 ' '
    // '':  ('\AB'   '\BB'   '\2039' '\203A'), // « » ‹ ›
    // '':  ('\AB'   '\BB'   '\201C' '\201D'), // « » “ ”
    // '':  ('\300A' '\300B' '\3008' '\3009'), // 《 》 〈 〉
    // '':  ('\300C' '\300D' '\300E' '\300F'), // 「 」 『 』
    // '':  ('\201E' '\201C' '\201A' '\2018'), // „ “ ‚ ‘
    // '':  ('\201E' '\201D' '\2018' '\2019'), // „ ” ‘ ’
    // '':  ('\201E' '\201D' '\2019' '\2019'), // „ ” ’ ’
    // '':  ('\201E' '\201D' '\AB'   '\BB'  ), // „ ” « »
    // '':  ('\201E' '\201D' '\2019' '\2018'), // „ ” ’ ‘
    // '':  ('\201E' '\201D' '\BB'   '\AB'  ), // „ ” » «
    // '':  ('\BB'   '\AB'   '\203A' '\2039'), // » « › ‹
    // '':  ('\201D' '\201D' '\2019' '\2019'), // ” ” ’ ’
    // '':  ('\3010' '\3011' '\3016' '\3017'), // 【 】 〖 〗
}