/* ========================================================================
 * Paragraphs
 * ======================================================================== */

@require 'base'
@require 'paragraphs'


/**
 * Styles
 * ======================================================================== */

// Headings
h1,
h2,
h3,
h4,
h5,
h6
    /.{$typography_prefix}h,
    &
        @extends .{$typography_prefix}p

        display block

        font-family: $font_family.heading
        font-weight: $font_weight.bold
        line-height: $line_height.heading
        letter-spacing: -.04em
        text-rendering optimizeLegibility
        vertical-align baseline

        color inherit

    /.{$typography_prefix}h{$bem_es}secondary,
    & small
        font-size 65%
        font-weight normal

        opacity: $th.color_ratios.secondary


for $i in ('1' '2' '3' '4' '5' '6')
    .{$typography_prefix}h{$bem_ms}{$i},
    h{$i}
        font-size: $font_size[$i]
        line-height: $line_height.heading



5,
6
    .{$typography_prefix}h{$bem_ms}&,
    h&
        text-transform uppercase
        letter-spacing .175em


// Headig classes
.{$typography_prefix}h{$bem_ms}
    for $size in ('mega' 'giant' 'big' 'headline' 'title' 'subhead' 'body' 'caption')
        &{$size}
            font-size: $font_size[$size]
            line-height: $line_height.heading

    &title
    &body
        font-weight: $font_weight.medium

    &caption
        text-transform uppercase
        letter-spacing .175em


    &clean
        margin-y 0