/**
 * Variables
 * ======================================================================== */

@require 'base'

/**
 * Styles
 * ======================================================================== */

.{$typography_prefix}
    &lcase
        text-transform lowercase

    &ucase
        text-transform uppercase
        letter-spacing .175em

    &capitalize
        text-transform capitalize

    &small-caps
        font-variant small-caps